 /*div{
    background-color: aqua;
    padding: 45px;
    width: 450px;
    //margin: 20px;
    box-sizing: border-box;
    border: 5px dotted yellowgreen;
}*/

#homeimg{
    //padding: 45px;
    width: 400px;
    border: 10px solid black;
    padding: 20px;
}

a:link{
    color: green;
}

a:visited{
    color:blue;
}
a:hover{
    color:orange
}
a:active{
    color: red;
}

input:focus{
    border:5px solid
     green;
}